#userId(data-id=user._id.toString())
  #user User: #{(user.username)}
  #wood Wood: #{(user.wood)}
  #cash Cash: $#{(user.cash)}
  button#plant Plant Seed
  button#trade Exchange
  input#woodtrade(type='text', autofocus=true, placeholder='Wood to Trade')
  if(user.isAutoGrowAvailable)
    button#buyAutoGrow Buy Autogrow
